* {
    padding-left: 0px;
    margin-left: 0px;
}

.mainarea {
    position: fixed;
    width: 100%;
    top: 5vw;
    height: 100%;
    background-color: darkslategray;
}

.main {
    margin-top: 10px;
    border-color: black;
    border-width: 0.5vw;
    border-radius: 20px;
    border-style: dashed;
    background-color: wheat;
    max-width: 90vw;
    min-width: 10vw;
    max-height: 90vh;
    min-height: 30vh;
}

    .main * {
        padding: 2.5% 2.5% 2.5% 2.5%;
        max-width: 85vw;
        max-height: 85vh;
    }

.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 5vw;
    background-image: linear-gradient(darkblue, black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing:border-box;
}

    .navbar img {
        width: 5.2vw;
        background-color: transparent;
    }

    .navbar strong {
        position: relative;
        float: left;
        color: white;
        text-decoration: none;
        font-size: 3vw;
        margin-left: 7vw;
        font-family: Bahnschrift;
    }

.dlarea {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
}

.dlbutton {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    border-color: rgb(201, 81, 1);
    border-width: 5px;
    color: black;
    padding: 10px 16px;
    outline: none;
    background-color: greenyellow;
}

    .dlbutton:hover {
        background-color: yellow;
    }

    .dlbutton img {
        width: 50px;
        height: 50px;
        background-color: transparent;
    }

.viewarea {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: transparent;
}

.viewbutton {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    border-color: rgb(201, 81, 1);
    border-width: 5px;
    color: black;
    padding: 10px 16px;
    outline: none;
    background-color: deepskyblue;
}

    .viewbutton:hover {
        background-color: dodgerblue;
    }

    .viewbutton img {
        width: 50px;
        height: 50px;
        background-color: transparent;
    }
