* {
    padding-left: 0px;
    margin-left: 0px;
    overflow: visible;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    overflow-y: scroll;
    overflow-x: hidden;
}

.mainarea {
    position: fixed;
    top: 5vw;
    width: 100%;
    height: 100vh;
    background-color: darkslategray;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.main {
    position: absolute;
    top: 7vw;
    margin-bottom: 2vw;
    max-width: 90vw;
    border-color: rgb(87, 85, 82);
    border-width: 0.5vw;
    border-radius: 25px;
    border-style: dashed;
    background-color: rgb(66, 45, 4);
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

    .main * {
        margin: 2vmin 2vmin 2vmin 2vmin;
        max-width: 85vw;
        min-width: 15vw;
        display: block;
    }

.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 5vw;
    background-image: linear-gradient(darkblue, black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    z-index: 6;
}

    .navbar img {
        width: 5.2vw;
        background-color: transparent;
    }

    .navbar strong {
        position: relative;
        float: left;
        color: white;
        text-decoration: none;
        font-size: 3vw;
        margin-left: 7vw;
        font-family: Bahnschrift;
    }

.dlarea {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
}

.dlbutton {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    border-color: rgb(201, 81, 1);
    border-width: 5px;
    color: black;
    padding: 10px 16px;
    outline: none;
    background-color: greenyellow;
}

    .dlbutton:hover {
        background-color: yellow;
    }

    .dlbutton img {
        width: 45px;
        height: 45px;
        background-color: transparent;
    }

.viewarea {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: transparent;
}

.viewbutton {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    border-color: rgb(201, 81, 1);
    border-width: 5px;
    color: black;
    outline: none;
    padding-left: 5px;
    background-color: deepskyblue;
}

    .viewbutton:hover {
        background-color: dodgerblue;
    }

    .viewbutton img {
        background-color: transparent;
        height: 35px;
        width: 55px;
    }
